body{
    background-color:white;
}
.style{
    height: 250px;
    border-color: brown;
}
.style1{
    height: 250px;
    border-color: rgb(18, 14, 243);
    margin-left: 10px;
}
.main{
    display: flex;
    justify-content: center;
}

#jobs-table{
    width: 30%;
    border: 2px solid black;
    border-collapse: collapse;
 }

 .jobs-header-row th {
    border: 1px solid grey;
    padding:8px;
    text-align: center;
    background-color: rgb(11, 236, 67);
 }

 .jobs-data-row td {
    border: 1px solid grey;
    text-align: center;
    padding: 8px;
 }

 .whole-tables{
    display: flex;
    margin-top: 30px;
 }

 h2{
   text-align: center;
   text-decoration:underline;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
